@model MainResult
@{
    ViewData["Title"] = "Результаты";
}
<h3>Интегральные уровни помехи по октавным полосам (построены по диктору @(Model.SpeakerName)):</h3>
@{
    foreach (var l in Model.Levels)
    {
        <p>@(l)</p>
    }
}