@model double[]
@{
    ViewData["Title"] = "Результаты";
}

<h3>Интегральные уровни помехи по октавным полосам:</h3>
@{
        foreach (var l in Model)
        {
                <p>@(l)</p>
        }
}